<candid-error [isServiceError]="isServiceError"></candid-error>
<table *ngIf="projectStatus">
  <tr>
    <td class="status-header">
      <span *ngFor="let buName of buName">{{buName}}</span>
    </td>
    <td class="weekcandid-header">
      <h5>Weekly Status
        <p class="text-align">{{currentDate| date: 'mediumDate'}}</p>
      </h5>
    </td>
  </tr>
  <tr>
    <td>
      <candid-overall [projectStatus]="projectStatus"></candid-overall>
    </td>
    <td>
      <candid-legend></candid-legend>
    </td>
  </tr>
</table>
<div *ngIf="projectStatus" class="color-blue margin-left">Project-wise Status</div>
<table *ngIf="projectStatus" class="table-margin">
  <thead>
    <th class="grid-header">
      #
    </th>
    <th class="grid-header">
      Program
    </th>
    <th class="grid-header">
      Owners
    </th>
    <th class="grid-header">
      TeamSize
    </th>
    <th class="grid-header">
      Scope
    </th>
    <th class="grid-header">
      Schedule
    </th>
    <th class="grid-header">
      Quality
    </th>
    <th class="grid-header">
      QualityEngineeringPractice
    </th>
    <th class="grid-header">
      Resource
    </th>
  </thead>
  <tbody>
    <tr *ngFor='let status of projectStatus'>
      <td class="grid-sno col-md-0">{{status.slno}}</td>
      <td class="col-md-2">{{status.programName}}<br>[{{status.externalOwner}}]</td>
      <td class="col-md-0">{{status.internalOwner}}</td>
      <td class="text-align col-md-0">{{status.teamSize}}</td>
      <td class="col-md-2" [ngStyle]="{'background-color':status.colors.scope}">{{status.scope}}</td>
      <td class="col-md-2" [ngStyle]="{'background-color':status.colors.schedule}">{{status.schedule}}</td>
      <td class="col-md-2" [ngStyle]="{'background-color':status.colors.quality}">{{status.quality.requirementTestCoverage}} {{status.quality.averageLeadTime}} {{status.quality.defectLeakageQA}} {{status.quality.productionDefect}}
      </td>
      <td class="col-md-2" [ngStyle]="{'background-color':status.colors.qualityEngineeringPractice}"></td>
      <td class="col-md-2" [ngStyle]="{'background-color':status.colors.resource}"></td>
    </tr>
  </tbody>
</table>
