<candid-error [isServiceError]="isServiceError"></candid-error>
<div *ngIf="!isServiceError">
  <table *ngIf="projectStatus">
    <tr>
      <td class="status-header">
        <span *ngFor="let buName of buName">{{buName}}</span>
      </td>
      <td class="weekcandid-header">
        <h5>Weekly Status
          <p class="text-align">{{currentDate| date: 'mediumDate'}}</p>
        </h5>
      </td>
    </tr>
    <tr>
      <td>
        <candid-overall [projectStatus]="projectStatus"></candid-overall>
      </td>
      <td>
        <candid-legend></candid-legend>
      </td>
    </tr>
  </table>
  <div *ngIf="projectStatus" class="color-blue margin-left">Project-wise Status</div>
  <table *ngIf="projectStatus">
    <thead>
      <th class="grid-header col-md-2">
        Program
      </th>
      <th class="grid-header col-md-1">
        Owners
      </th>
      <th class="grid-header col-md-1">
        TeamSize
      </th>
      <th class="grid-header col-md-1">
        Scope
      </th>
      <th class="grid-header col-md-1">
        Schedule
      </th>
      <th class="grid-header col-md-1">
        Quality
      </th>
      <th class="grid-header col-md-1">
        Quality Engineering Practice
      </th>
      <th class="grid-header col-md-1">
        Resource
      </th>
      <th class="grid-header col-md-3">
        Remarks
      </th>
    </thead>
    <tbody>
      <tr *ngFor='let status of projectStatus'>
        <td class="col-md-2"><b>{{status.programName}}</b><br>[{{status.externalOwner}}]</td>
        <td class="col-md-1">{{status.internalOwner}}</td>
        <td class="text-align col-md-1">{{status.teamSize}}</td>
        <td class="col-md-1" [ngStyle]="{'background-color':status.colors.scope}"></td>
        <td class="col-md-1" [ngStyle]="{'background-color':status.colors.schedule}"></td>
        <td class="col-md-1" [ngStyle]="{'background-color':status.colors.quality}"></td>
        <td class="col-md-1" [ngStyle]="{'background-color':status.colors.qualityEngineeringPractice}"></td>
        <td class="col-md-1" [ngStyle]="{'background-color':status.colors.resource}"></td>
        <td class="col-md-3">
          <div *ngIf="status.colors.scope == 'Red' || status.colors.scope == 'Yellow'">
            <b>Reason for Scope:
            <div [ngStyle]="{'color':status.colors.scope}" class="remarkHead">{{status.colors.scope}}</div>
            </b><br>
            <div *ngFor="let remark of status.colors.scopeRemarks">
              * {{remark.reason}}
            </div>
          </div>
          <div *ngIf="status.colors.schedule == 'Red' || status.colors.schedule == 'Yellow'">
            <b>Reason for Schedule:
            <div [ngStyle]="{'color':status.colors.schedule}" class="remarkHead">{{status.colors.schedule}}</div>
            </b><br>
            <div *ngFor="let remark of status.colors.scheduleRemarks">
              * {{remark.reason}}
            </div>
          </div>
          <div *ngIf="status.colors.quality == 'Red' || status.colors.quality == 'Yellow'">
            <b>Reason for Quality:
            <div [ngStyle]="{'color':status.colors.quality}" class="remarkHead">{{status.colors.quality}}</div>
            </b><br>
            <div *ngFor="let remark of status.colors.qualityRemarks">
              * {{remark.reason}}
            </div>
          </div>
          <div *ngIf="status.colors.qualityEngineeringPractice == 'Red' || status.colors.qualityEngineeringPractice == 'Yellow'">
            <b>Reason for Engineering Practice:
            <div [ngStyle]="{'color':status.colors.qualityEngineeringPractice}" class="remarkHead">{{status.colors.qualityEngineeringPractice}}</div>
            </b><br>
            <div *ngFor="let remark of status.colors.qualityEngineeringRemarks">
              * {{remark.reason}}
            </div>
          </div>
          <div *ngIf="status.colors.resource == 'Red' || status.colors.resource == 'Yellow'">
            <b>Reason for Resource:
            <div [ngStyle]="{'color':status.colors.resource}" class="remarkHead">{{status.colors.resource}}</div>
            </b><br>
            <!--<div *ngFor="let remark of status.colors.resourceRemarks">
              * {{remark.reason}}
            </div>-->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>