<table *ngIf="projectStatus && metricsMaster">
  <tr>
    <td class="status-header">
      <span *ngFor='let status of projectStatus'>             
                   <span>{{status.businessUnit}}</span>
      </span>
    </td>
    <td class="weekdash-header">
      <h5>Weekly Dashboard
        <p class="text-align">{{currentDate| date: 'mediumDate'}}</p>
      </h5>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" class="status">
        <tr>
          <td colspan="4">
            <p class="color-blue">Overall Status</p>
          </td>
        </tr>
        <tr>
          <td *ngFor='let metric of metricsMaster'>
            <div class="circle">Y</div>
            <p class="color-gray">{{metric.metricName}}</p>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="weekdash-table">
        <tr>
          <td class="weekdash-green">Green</td>
          <td class="weekdash-green">1</td>
        </tr>
        <tr>
          <td class="weekdash-yellow">Yellow</td>
          <td class="weekdash-yellow">2</td>
        </tr>
        <tr>
          <td class="weekdash-red">Red</td>
          <td class="weekdash-red">0</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table *ngIf="projectStatus">
  <thead>
    <th class="grid-header">
      #
    </th>
    <th class="grid-header">
      SchwabBU
    </th>
    <th class="grid-header">
      Program
    </th>
    <th class="grid-header">
      Owners
    </th>
    <th class="grid-header">
      TeamSize
    </th>
    <th *ngFor='let metric of metricsMaster' class="grid-header">
      {{metric.metricName}}
    </th>
    <th class="grid-header">
      Remarks
    </th>
  </thead>
  <tbody>
    <tr *ngFor='let status of projectStatus'>
      <td class="grid-sno">{{status.slno}}</td>
      <td>{{status.businessUnit}}</td>
      <td>{{status.programName}}</td>
      <td>{{status.owner}}</td>
      <td class="text-align">{{status.teamSize}}</td>
      <td [ngStyle]="{'background-color':status.scope.background}"><input type="text" [(ngModel)]=status.scope.value></td>
      <td><input type="text" [(ngModel)]=status.schedule.value></td>
      <td><input type="text" [(ngModel)]=status.quality.value></td>
      <td><input type="text" [(ngModel)]=status.sla.value></td>
      <td>{{status.remarks}}</td>
    </tr>
  </tbody>
</table>