<table>   
     <tr>
       <td style="background-color:aqua">
          <span *ngFor = 'let row of gridData.Rows'>
             <span *ngFor = 'let cell of row.Cells'>
                   <span>{{cell.ProjectName}}</span>
             </span>
          </span>
       </td>
       <td style="background-color:gray">
         <span>Weekly Dashboard  {{Date1| date: 'mediumDate'}}</span>
      </td>
     </tr>
     <tr>
       <td><p style="color:lightblue">Overall Status</p>
       <span *ngFor='let cell of headerData.status'>
        <span class="circle"> {{cell.metricvalue}} </span><p>{{cell.metricName}} </p>        
       </span>
       </td>
       <td>
         <table>
           <tr>
             <td style="background-color:green">Green</td>
             <td style="background-color:green">1</td>
           </tr>
           <tr>
             <td style="background-color:yellow">Yellow</td>
             <td style="background-color:yellow">2</td>
           </tr>
           <tr>
             <td style="background-color:red">Red</td>
             <td style="background-color:red">3</td>
           </tr>
         </table>
       </td>
     </tr>
</table>

<table>
  <thead>
      <th *ngFor = 'let column of gridData.Columns' style="background-color:lightgray">
          <span> {{column.Display}} </span>
      </th>      
  </thead>
  <tbody>
    <tr *ngFor='let row of gridData.Rows'>
      <td *ngFor = 'let cell of row.Cells' >              
        <span >{{cell.SLNo}}</span>
        <span >{{cell.ProjectName}}</span>  
         <span >{{cell.ProgramName}}</span>
          <span >{{cell.Owner}}</span>
           <span >{{cell.TeamSize}}</span> 
           <span *ngFor = 'let metric of cell.Scope' [ngStyle]="{'background-color':metric.Background}">   
                      {{metric.Background}}
                <span *ngIf = metric.Editable>                          
                          <input type="text">
                </span>
          </span>     
          <span *ngFor = 'let metric of cell.Schedule' [ngStyle]="{'background-color':metric.Background}">   
                      {{metric.Background}}
                <span *ngIf = metric.Editable>                          
                          <input type="text">
                 </span>
          </span>   
          <span *ngFor = 'let metric of cell.Quality' [ngStyle]="{'background-color':metric.Background}">   
                      {{metric.Background}}
                <span *ngIf = metric.Editable>                          
                          <input type="text">
                 </span>
          </span> 
          <span *ngFor = 'let metric of cell.SLA' [ngStyle]="{'background-color':metric.Background}">   
                      {{metric.Background}}
                <span *ngIf = metric.Editable>                          
                          <input type="text">
                 </span>
          </span> 
        <span>{{cell.Remarks}}</span>                    
      </td>
    </tr>
  </tbody>
</table>