table  {
    border:2px !important;
    width: 100%;
    border:1px solid #939593 ;    
}
th, td {
    text-align: left;
    padding: 5px;
    border:1px solid #939593;   
}
.circle {
    -moz-border-radius:25px;
       border-radius: 25px;
    padding: 5px 5px 5px 8px;
    background-color: yellow;
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}
.status tr td{
    border:none;
    background-color: #ffffff;
}
.status-header{
    background-color:#00B2F1;
    width:500px;
    height:40px;
}
.grid-sno {
    background-color:#2D72B6; 
    color:#ffffff;
    width:40px;
}
.grid-header{
    background-color:lightgray;
     color:#686667;
}
.weekcandid-green{
    background-color:green;
}
.weekcandid-yellow{
    background-color:yellow;
}
.weekcandid-red{
    background-color:red;
}
.weekcandid-table{
     width:100px;
     margin-left:40px;
}
.weekcandid-header{
    background-color:gray;
}
.text-align{
    text-align:right;
    margin-top:-15px;
}
.color-blue{
    color:lightblue;
}
.color-gray{
    color:#9A989C;
}
.color-black
{
    background-color:black;
    color: white;
}
.bgcolor-blue
{
    background-color: #00B2F1;
    color: white;
}
.scrollit {
    overflow:scroll;
    height:110px;
}
.scrollitrisk {
    overflow:scroll;
    height:240px;
}
.scrollittimeline {
    overflow:scroll;
    height:180px;
}
nav {
    background: #2D72B6;
}
a {
    color: black;
}
.margin-left {
    margin-left:10px;
}
.table-margin {
    margin-left:5px;
}
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
}
.row-align
{
    vertical-align: initial;
}
.remarkHead
{
    display: inline;
}
